.auth-container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}
.item{
   text-align: center;
   margin: 0px 10px;
}
a.title{
     color: black;
     display: inline-block;
     margin: 20px;
}